*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    list-style: none;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}

/* ------------------main----------------- */

main{
    height: calc(100vh - 100px);
    width: calc(100% - 50px);
    background-color: #141922;
    display: inline-block;
    overflow: auto;
}

.maincontent{
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}
.maincontent h3{
    color: white;
    font-size: 21px;
    margin: 20px 10px 10px 10px;
    display: block;
}
.maincontent span{
    color: white;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 20px;
    display: block;
    opacity: .4;
}

.maincontent .album img, .albumtitle, .albumsub{
    min-width: 150px;
    width: 100%;
    color: white;
    text-align: center;
}

.albumtitle{
    font-size: 14px;
}
.albumsub{
    font-size: 10px;
    opacity: .4;
}
.album{
    min-width: 150px;
    max-width: 200px;
    text-align: center;
    width: 45%;
    margin: 5px;
}
.mainrow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}
.roundalbum img{
    border-radius: 50%;
}

.album-cover{
    position: relative;
    height: fit-content;
}
.album-overlay{
    position: absolute;
    width: 100%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.roundalbum .album-cover .album-overlay{
    position: absolute;
    width: 100%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    border-radius: 50%;
}

.album-overlay a{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);;
}

.album-overlay a i{
    font-size: 60px;
    color: white;
}

.album:hover .album-overlay{
    display: block;
}
/* ------------------nav----------------- */

nav{
    width: 50px;
    height: calc(100vh - 100px);
    background-color: black;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 10px 0;
}

.logo1{
    width: 20px;
}
.logo2{
    width: 100px;
    display: none;
    margin: 10px;
}

.logosection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav div div ul{
    width: fit-content;
}

nav div ul li{
    width: 25px;
}

.fa-plus{
    font-size: 20px;
    color: black;
    position: relative;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.plus-playlist{
    margin-right: 10px;
    border-radius: 2px;
    background-color: white;
    width: 35px;
    height: 35px;

}

/* nav div ul li:not(.profile-icon-box, .playlisthead, .navselected){
    margin-top: 10px;
    opacity: 50%;
} */

a:not(.opacity){
    color: white;
    opacity: 50%;
}

a:hover{
    opacity: 100%;
}

.nav-section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-icon{
    height: 20px;
}

.navsection2-icon-li{
    width: fit-content;
}

.nav-section2{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.nav-section2 ul{
    width: 100%;
}
.profile-icon{
    height: 25px;
    width: 25px;
    background-color: rgb(157, 157, 157);
    border-radius: 50%;
    margin: 10px 5px 0 0;
}

.nav-section2 ul hr{
    display: none;
    margin: 5px 0;
    opacity: 50%;
    width: 85%;
    margin: auto;
}
.nav-options-hide{
    display: none;
}

.nav-section-playlist{
    display: none;
}

.nav-section-playlist ul li a{
    text-decoration: none;
    color: white;
}

.nav-section-playlist ul li{
    width: 100%;
    margin-top: 10px;
}
.nav-section-playlist ul li img{
    width: 25px;
}
.nav-section1 ul li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.nav-section1 ul li a img{
    width: 25px;
}

.nav-section2 ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-section1 ul li{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.playlisthead{
    margin: 20px 0 10px 0;
}

.nav-section2 ul li{
    width: 100%;
}

.navselected{
    height: 20px;
    width: 2px;
    border-left: 4px solid yellowgreen ;
    position: relative;
    left: -10px;
    opacity: 100%;
    display: none;
}

/* ------------------upgrade----------------- */
.upgrade{
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 2;
}
.uppgradesubcontainer{
    height: 100px;
    width: calc(100vw - 50px);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    align-items: center;
}

/* ------------------main-header----------------- */

header{
    margin-top: 110px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    font-size: 14px;
}

header ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
}

header ul li:hover a{
    color: rgba(255, 255, 255, 1);
}

header ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
header ul li{
    height: fit-content;
    margin: 10px;

}
/* ------------------footer---------------- */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:100px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 14px;
}

.footer-container-left{
    display: flex;
    flex-direction: row;
    width: 150px;
    align-items: center;
}
.current-song-img img{
    width: 40px;
    margin-right: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.current-song-albumname{
    color: white;
    font-size: 16px;
}

.current-song-name{
    color: rgba(255, 255, 255, 0.4);
}

.footer-left-options{
    margin-left: 10px;
}

.footer-container-left .footer-left-options a:hover i{
    color: white;
}

.footer-left-options a{
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
}

.footer-container-center{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.fa-play-circle{
    font-size: 30px;
}

.music-option{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.music-option a{
    color: white;
    margin: 0 1%;
}

.player{
    display: flex;
    flex-direction: row;
    margin: 10px;
    color: white;
    align-items: center;
}
.player .playerbar{
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    margin: 10px;
    height: 4px;
    border-radius: 4px;
    
}

.playerbar-progres{
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin: 10px;
    height: 4px;
    border-radius: 4px;
    position:relative;
    top: -10px;
    left: -10px;
}

.playerbar-progres2{
    background-color: rgb(255, 255, 255);
    width: 30%;
    margin: 10px;
    height: 4px;
    border-radius: 4px;
    position:relative;
    left: -10px;
}

.playerbar-dot{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: -30px;
    left: 10%;
    display: none;
}

.playerbar-dot2{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: -0px;
    left: -30px;
    opacity: 0;
}

.player:hover .playerbar-progres{
    background-color: greenyellow;
}
.playerbar:hover .playerbar-progres2{
    background-color: greenyellow;
}
.player:hover .playerbar-dot{
    display: block;
}
.playerbar:hover .playerbar-dot2{
    opacity: 100%;
}

.footer-container-rigth{
    width: 150px;
}

.footer-container-rigth div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container-rigth i{
    color: white;
    margin: 0 5px;
    font-size: 15px;
}

.footer-container-rigth .playerbar{
    background-color: rgba(255, 255, 255, 0.4);
    width: 60px;
    margin: 0 5px;
    height: 4px;
    border-radius: 4px;
}
/* ---------------------------------- */
.selected{
    width: 60%;
    margin: auto;
    border: 1px solid greenyellow;
    margin-top: 3px;
}
.btn{
    height: fit-content;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border: 1px solid white;
    padding: 7px 30px;
    border-radius: 15px;
    transition: all 1500ms;
}
.btn:hover{
    padding: 10px 35px;
    border-radius: 30px;
}

/* -----------------media------------------------- */

@media screen and (min-width: 550px){
    main{
        height: calc(100vh - 100px);
        width: calc(100% - 50px);
    }

    nav{
        width: 200px;
        padding: 10px 10;
    }
        .logo1{
            display: none;
        }
        .logo2{
            display: block;
        }

        .nav-section1{
            align-items: flex-start;
        }
        .nav-section2{
            justify-content: flex-start;
        }

        .nav-section-playlist{
            display: block;
        }
        .nav-options-hide{
            display: block;
        }
        .nav-section2 ul hr{
            display: block;
        }
        .nav-section2 ul li{
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        nav ul li{
            padding-left: 10px;
        }
        .navselected{
            display: block;
        }

    .uppgradesubcontainer{
        width: calc(100vw - 150px);
    }
}