*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}
/* ------------------main----------------- */

main{
    height: calc(100vh - 70px);
    width: calc(100% - 50px);
    background-color: #141922;
    display: inline-block;
    z-index: 2;
    overflow: auto;
}

/* ------------------nav----------------- */

nav{
    height: calc(100vh - 70px);
    width: 50px;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.logo{
    width: 100%;
}

nav div ul li{
    margin-top: 10px;
    opacity: .7;
}

.download-icon{
    height: 20px;
}

.download-icon-li{
    width: fit-content;
}

.nav-section2{
    display: flex;
    align-content: center;
    justify-content: center;
}
/* ------------------upgrade----------------- */
.upgrade{
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
}
.uppgradesubcontainer{
    height: 100px;
    width: calc(100vw - 50px);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
}

/* ------------------main-header----------------- */

header{
    margin-top: 100px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    font-size: 14px;
}

header ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
}

header ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
header ul li{
    height: fit-content;
    margin: 10px;

}
/* ---------------------------------- */
footer{
    display: flex;
    flex-direction: column;
    height:70px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
}
/* ---------------------------------- */
.selected{
    width: 60%;
    margin: auto;
    border: 1px solid greenyellow;
    margin-top: 3px;
}
.btn{
    height: fit-content;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border: 1px solid white;
    padding: 7px 30px;
    border-radius: 15px;
    transition: all 1s;
    position: absolute;
}
.btn:hover{
    padding: 10px 40px;
    border-radius: 25px;
}