*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}
/* ------------------main----------------- */

main{
    height: calc(100vh - 100px);
    width: calc(100% - 50px);
    background-color: #141922;
    display: inline-block;
    z-index: 2;
    overflow: auto;
}

.maincontent{
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}
.maincontent h3{
    color: white;
    font-size: 21px;
    margin: 20px 10px 10px 10px;
    display: block;
}
.maincontent span{
    color: white;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 20px;
    display: block;
    opacity: .4;
}

.maincontent .album img, .albumtitle, .albumsub{
    min-width: 150px;
    width: 100%;
    color: white;
    text-align: center;
}

.maincontent .album img{
    margin-bottom: 10px;
}

.albumtitle{
    font-size: 14px;
}
.albumsub{
    font-size: 10px;
    opacity: .4;
}
.album{
    min-width: 150px;
    max-width: 200px;
    text-align: center;
    width: 45%;
    margin: 5px;
}
.mainrow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}
.roundalbum img{
    border-radius: 50%;
}
/* ------------------nav----------------- */

nav{
    height: calc(100vh - 100px);
    width: 50px;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.logo1{
    width: 100%;
}
.logo2{
    width: 100%;
    display: none;
}

nav div ul li{
    margin-top: 10px;
    opacity: .7;
}

.download-icon{
    height: 20px;
}

.navsection2-icon-li{
    width: fit-content;
}

.nav-section2{
    display: flex;
    align-content: center;
    justify-content: center;
}

.profile-icon{
    height: 25px;
    width: 25px;
    background-color: rgb(157, 157, 157);
    border-radius: 50%;
}

.nav-section2 ul hr{
    display: none;
}
.nav-options-hide{
    display: none;
}
/* ------------------upgrade----------------- */
.upgrade{
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
}
.uppgradesubcontainer{
    height: 100px;
    width: calc(100vw - 50px);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
}

/* ------------------main-header----------------- */

header{
    margin-top: 110px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    font-size: 14px;
}

header ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
}

header ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
header ul li{
    height: fit-content;
    margin: 10px;

}
/* ------------------footer---------------- */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:100px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 14px;
}

.footer-container-left{
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
}
.current-song-img img{
    width: 40px;
    margin-right: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.current-song-albumname{
    color: white;
    font-size: 16px;
}

.current-song-name{
    color: rgba(255, 255, 255, 0.4);
}

.footer-left-options{
    margin-left: 10px;
}

.footer-left-options a{
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
}

.footer-container-center{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.fa-play-circle{
    font-size: 30px;
}

.music-option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.music-option a{
    color: white;
}

.player{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    color: white;
    align-items: center;
}
.player .playerbar{
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    margin: 0 5px;
    height: 4px;
    border-radius: 4px;
}

.footer-container-rigth div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container-rigth i{
    color: white;
    margin: 0 5px;
    font-size: 15px;
}

.footer-container-rigth .playerbar{
    background-color: rgba(255, 255, 255, 0.4);
    width: 60px;
    margin: 0 5px;
    height: 4px;
    border-radius: 4px;
}
/* ---------------------------------- */
.selected{
    width: 60%;
    margin: auto;
    border: 1px solid greenyellow;
    margin-top: 3px;
}
.btn{
    height: fit-content;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border: 1px solid white;
    padding: 7px 30px;
    border-radius: 15px;
    transition: all 1s;
}
.btn:hover{
    padding: 10px 40px;
    border-radius: 30px;
}

/* -----------------media------------------------- */

@media screen and (min-width: 699px) and (max-width: 992px){
    
    
    nav{
        height: calc(100vh - 100px);
        width: 250px;
        background-color: black;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        overflow: auto;
    }

    .logo1{
        width: 100%;
        display: none;
    }
    .logo2{
        width: 65%;
        display: block;
        margin-bottom: 30px;
    }

    nav div ul li a{
        margin-top: 10px;
        color: white;
        text-decoration: none;
    }
    nav div ul li{
        display: flex;
        align-items: center;
    }
    nav div ul li a{
        display: flex;
        align-items: center;
    }
    nav div ul li img{
        width: 25px;
        margin-right: 10px;
    }
    .nav-options-hide{
        display: block;
    }

    .download-icon{
        height: 20px;
    }

    .navsection2-icon-li{
        width: fit-content;
    }

    .nav-section2{
        display: block;
    }
    
    .smaltext{
        font-size: 14px;
    }
    .whitetext{
        color: white;
        font-size: 20px;
        opacity: 1;
    }

    nav{
        width: calc(100vw - 250px);
    }
    .nav-section2 ul hr{
        display: block;
        margin: 10px 0;
    }

    .uppgradesubcontainer{
        width: calc(100vw - 270px);
    }
}